<div class="page-header">
  <h3>Post #<%= @post.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Url</dt>
      <dd><%= @post.url %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/posts" class="btn btn-primary">
        Back
      </a>
      <a href="/posts/<%= @post.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_post/<%= @post.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Post has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @post.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.post_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
